.bungkus{
    position: absolute;
width: 418px;
height: 422px;


background: #8E3434;
border-radius: 200%;  
}

#haksara{
    font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 108px;
display: flex;
align-items: center;
text-align: center;

margin-right: 5%;
/* Main Color */

color: #8E3434;
}

#jargon{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;

padding-top: 3%;
color: #787878;
}