@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

body{
    font-size: 20px;
    font-family: Poppins;
    background-color: pink;
}
#container{
    margin : 20px auto;
    background-color: #8E3434;
    height: 300px;
    width : 700px;
    border-radius: 24px!important;
    box-shadow: 0px 0px 0px 0px;
    position: relative;
}
#start{
    font-family: poppins;
    font-size: 30;
    font-weight: bold;
    border-radius: 24px!important;
    width:250px;
    height:auto;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    vertical-align: middle;
    left:220px;
    top:70px;
    color : #8E3434;
}
#start:hover{
    background: #eae8e4;
    color : #be4e4e;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 40px;
    top : 50px;
}
#qImg img{
    width : 150px;
    background: #ffffff;
    border-top-left-radius: 5px;
    padding: 20px;
    border-radius: 24px!important;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top: 30px;;
}

#question p{
    font-family: poppins;
    font-size: 17;
    margin : 0;
    padding : 15px;
    color:#fff;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 90px;
    padding : 10px;
    color:#fff;
}
.choice{
    font-family: poppins;
    font-size: 23;
    display: block;
    width : 170px;
    text-align: center;
    background: #ffffff;
    border-radius: 24px!important;
    cursor: pointer;
    padding : 5px;
    color : #8E3434;
    margin-bottom: 1rem;
}
.choice:hover{
    border : 1px solid rgb(255, 255, 255);
    font-weight: bold;
}

/* #timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
} */

#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:10px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 24px!important;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.9;
    height: 300px;
    width : 700px;
    border-radius: 24px!important;
    box-shadow: 0px 3px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    height : 40;
    width : 42;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    top:150px;
    left:260px;
    font-family: poppins;
    font-size: 23;
    font-weight: bold;
    text-align: center;
}

